<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RE</title>
</head>

<body class="reWizard">
    <div fxLayout="column">
        <div class="ribbon" style="background-color:  #ccc; height: 30px;">
            <!-- <span>RE</span> -->
            <button
                style="background-color: red; color: aliceblue;  border: none;margin: 0px 0px; height: 30px; float: right;"
                (click)="close()">Close</button>
            <button
                style="background-color: rgba(1, 111, 246, 0.831); color: aliceblue; margin: 0px 0px 0px 0px; border: none; height: 30px; float: right;"
                (click)="save()">Save</button>
        </div>


        <!-- <div fxLayout="row" div *ngFor="let label of labels; let i = index" >
            <div fxFlex="25">
                <label >{{ label }}</label>
            </div>
                
            <div fxFlex="75">
                <input type="text">
            </div>
        </div><br> -->



        <!-- <div *ngFor="let label of labels; let i = index">
            <label>{{ label }}</label>
            <input type="text">
            
        </div><br> -->

        <!-- <input *ngIf(!label="TableName")> -->
        <!-- <input [ngModel]="inputValues[i]"
                   (ngModelChange)="inputValues[i] = $event" 
                   (click)="setSelectedInput(i)"
                   type="text" [id]="'input' + i" [name]="'input' + i"> -->
        <br>
        <table class="t" style="width: 70%; margin-left: auto; margin-right: auto;">
            <thead>
                <tr style="border: black 1px solid;">
                    <th style="width: 150px;">Fields</th>
                    <th style="width: 150px;">Regular Expression</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let label of labels; let i = index" style="border: black 1px solid;">
                    <td><label>{{ label }}</label></td>


                    <td>
                        <input [ngModel]="inputValues[i]" (ngModelChange)="inputValues[i] = $event"
                            (click)="setSelectedInput(i)" type="text" [id]="'input' + i" [name]="'input' + i"
                            style="width: 400px;">
                    </td>


                </tr>

                <!-- <tr *ngFor="let path of Path; let i = index">
                    <td><label>{{path}}</label></td>
                </tr> -->
            </tbody>

        </table>
        <br>


    </div>
</body>

</html>