<mat-toolbar class="navbar" color="primary">
        
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="homePage()">
    <mat-icon class="custom-icon">home</mat-icon>
    </button>     

    <span>IDP Utils</span>
    <span class="example-spacer"></span>

    <span style="float: right; font-size: 12px">prashant.farakate@infor.com</span>

    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon class="custom-icon">favorite</mat-icon>
    </button> -->

    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon class="custom-icon">share</mat-icon>
    </button> -->
</mat-toolbar>