<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="main">  

  <!-- <app-home></app-home> -->
    <!-- <mat-toolbar class="navbar" color="primary">
        
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon class="custom-icon">menu</mat-icon>
        </button>     

        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon class="custom-icon">favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon class="custom-icon">share</mat-icon>
        </button>
    </mat-toolbar> -->
    <div fxLayout="row">
    <mat-card class="example-card" id="tempMatCard" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title allign="center">Create JTemplate</mat-card-title>
          <mat-card-subtitle allign="center">Create a JSON Template for TemplateExtraction</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image id="cardImg" src="https://img.freepik.com/premium-vector/modern-flat-design-json-file-icon-web-simple-style_599062-468.jpg?w=740" alt="Click to create a template" (click)="onJSONimageClick()">
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>

    <mat-card  id="regexEditormatCard">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title allign="center">RegEx Editor</mat-card-title>
        <!-- <mat-card-subtitle allign="center">Regex playground to filter the string by giving Regex query</mat-card-subtitle> -->
      </mat-card-header>
      <!-- <img mat-card-image id="cardImg" src="https://img.freepik.com/premium-vector/modern-flat-design-json-file-icon-web-simple-style_599062-468.jpg?w=740" alt="Click to create a template" (click)="onJSONimageClick()"> -->
      <mat-card-content>
        <p>Regex playground to filter the string by giving Regex query</p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
  </mat-card>

  <mat-card  id="regexEditormatCard">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title allign="center">Empty Card</mat-card-title>
      <!-- <mat-card-subtitle allign="center">Create a JSON Template </mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image id="cardImg" src="https://img.freepik.com/premium-vector/modern-flat-design-json-file-icon-web-simple-style_599062-468.jpg?w=740" alt="Click to create a template" (click)="onJSONimageClick()"> -->
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>
</div>
    
      
</body>
</html>










