/* .example-spacer {
    flex: 1 1 auto;
  }

.navbar{
    z-index: 1;
    background-color: black;
    font-size: 15px;
    height: 50%;
}

.custom-icon {
    font-size: 20px; 
} */

#tempMatCard, #regexEditormatCard , #comparatorCard{
    margin-top: 60px;
    margin-left: 20px;
    width: 300px; 
    height: 200px; 
    padding: 16px; 

    border-radius: 12px;
    border: 1px solid var(--colorNeutralBackground5);
    background-color: #ffffff;
    
    transition: transform 0.3s;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#tempMatCard:hover, #regexEditormatCard:hover , #comparatorCard:hover {
  transform: scale(1.05); /* Zoom in a card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* background-color: #b3dbf3; */
  /* background-color: rgba(85, 157, 246, 0.831); */
  background-color: black;
  color: white;
}




#cardImg{
  
  width: 100px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  /* padding: 5px; Adjust the padding inside the card */
  margin-left: 70px;

}

.textComparator{
  margin-top: 20px;
  margin-left: 50px;
  font-size: 20px ;
}